.book {
  box-sizing: border-box;
  width: 298px;
  padding: 0 4px 0 4px;
  margin: 0;
  list-style: none;
  & > li {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
  }
}

.bookLevel,
.bookHeader {
  display: flex;
  flex-direction: row;

  & > span {
    display: block;
    flex: 1;
    flex-grow: 1;
    text-align: right;
  }

  & > span:first-child {
    text-align: left;
  }
}

.bookHeader {
  color: var(--color-text-light);
}

.currentPrice {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  text-align: left;
}
