:root {
  --color-red-text: #eb4b6d;
  --color-red-bg: #eb4b6d;
  --color-green-text: #31bd65;
  --color-green-bg: #31bd65;
  --color-red-text-rgb: 235, 75, 109;
  --color-red-bg-rgb: 235, 75, 109;
  --color-green-text-rgb: 49, 189, 101;
  --color-green-bg-rgb: 49, 189, 101;
  --color-text-light: #909090;
  --color-text-amplifed: #fafafa;
  --color-up: var(--color-green-text);
  --color-down: var(--color-red-text);
  --color-up-text: var(--color-green-text);
  --color-down-text: var(--color-red-text);
  --color-up-bg: var(--color-green-bg);
  --color-down-bg: var(--color-red-bg);
  --color-up-text-rgb: var(--color-green-text-rgb);
  --color-down-text-rgb: var(--color-red-text-rgb);
  --color-up-bg-rgb: var(--color-green-bg-rgb);
  --color-down-bg-rgb: var(--color-red-bg-rgb);
}

:root .cfg-red-up {
  --color-up: var(--color-red-text);
  --color-down: var(--color-green-text);
  --color-up-text: var(--color-red-text);
  --color-down-text: var(--color-green-text);
  --color-up-bg: var(--color-red-bg);
  --color-down-bg: var(--color-green-bg);
  --color-up-text-rgb: var(--color-red-text-rgb);
  --color-down-text-rgb: var(--color-green-text-rgb);
  --color-up-bg-rgb: var(--color-red-bg-rgb);
  --color-down-bg-rgb: var(--color-green-bg-rgb);
}

.theme-dark {
  --color-red-text: #ca3f64;
  --color-red-bg: #ca3f64;
  --color-green-text: #25a750;
  --color-green-bg: #25a750;
  --color-red-text-rgb: 202, 63, 100;
  --color-red-bg-rgb: 202, 63, 100;
  --color-green-text-rgb: 37, 167, 80;
  --color-green-bg-rgb: 37, 167, 80;
  --color-text-amplifed: #fafafa;
  --color-up: var(--color-green-text);
  --color-down: var(--color-red-text);
  --color-up-text: var(--color-green-text);
  --color-down-text: var(--color-red-text);
  --color-up-bg: var(--color-green-bg);
  --color-down-bg: var(--color-red-bg);
  --color-up-text-rgb: var(--color-green-text-rgb);
  --color-down-text-rgb: var(--color-red-text-rgb);
  --color-up-bg-rgb: var(--color-green-bg-rgb);
  --color-down-bg-rgb: var(--color-red-bg-rgb);
}

.theme-dark.cfg-red-up {
  --color-up: var(--color-red-text);
  --color-down: var(--color-green-text);
  --color-up-text: var(--color-red-text);
  --color-down-text: var(--color-green-text);
  --color-up-bg: var(--color-red-bg);
  --color-down-bg: var(--color-green-bg);
  --color-up-text-rgb: var(--color-red-text-rgb);
  --color-down-text-rgb: var(--color-green-text-rgb);
  --color-up-bg-rgb: var(--color-red-bg-rgb);
  --color-down-bg-rgb: var(--color-green-bg-rgb);
}

.color-down {
  color: var(--color-down-text) !important;
}

.color-up {
  color: var(--color-up-text) !important;
}

.color-down .ant-statistic .ant-statistic-content {
  color: var(--color-down-text) !important;
}

.color-up .ant-statistic .ant-statistic-content {
  color: var(--color-up-text) !important;
}
