.logo {
  width: 36px;
  height: 36px;
  margin-right: 6px;
  vertical-align: middle;
}

.statistics {
  display: flex;
  flex-direction: row;
  gap: 12px;
  & > * {
    width: 138px;
    padding-left: 12px;
  }
}
