.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 40px;
}

.label {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-light);
}

.value {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-amplifed);
}
