.oauthLoginItem {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  flex-direction: 'column';
  height: 40px;
  width: 40px;
  border: '1px solid #D4D8DD';
  border-radius: '50%';
}